fastapi
uvicorn[standard]
aiogram==3.*
celery
redis
psycopg[binary]
minio
SQLAlchemy>=2.0
alembic
pydantic-settings
Babel
Pillow
pyswisseph
matplotlib
weasyprint
prometheus-fastapi-instrumentator
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
